/logs/**
.idea/

# build files
*build.xml
/build/**
/tools/MapleArrowFetcher/build/**
/tools/MapleCouponInstaller/build/**
/tools/MapleIdRetriever/build/**
/tools/MapleMesoFetcher/build/**
/tools/MapleQuestItemFetcher/build/**
/tools/MobBookIndexer/build/**
/tools/MobBookUpdate/build/**
/dist/
/tools/MobBookUpdate - Copia/build/
/tools/MobBookUpdate - Copia/dist/
/tools/MobBookUpdate - Copia/nbproject/private/
/tools/ItemMakerUpdate/build/
/tools/ItemMakerUpdate/dist/
/tools/ItemMakerUpdate/nbproject/private/
/tools/MapleMakerUpdate/build/
/tools/MapleMakerUpdate/dist/
/tools/MapleMakerUpdate/nbproject/private/
/tools/MapleMakerFetcher/build/
/tools/MapleMakerFetcher/dist/
/tools/MapleMakerFetcher/nbproject/private/
/tools/MapleSkillMakerFetcher/nbproject/private/
/tools/MapleSkillMakerFetcher/build/
/tools/MapleSkillMakerFetcher/dist/